{% layout 'theme' %}

<div class="page-width page-consults">
  {% section 'consults-hero' %}
  {% section 'consults-pathways' %}
  {% section 'consults-features' %}
  {% section 'consults-how-it-works' %}
  {% section 'consults-team' %}
  {% section 'newsletter-signup' %}
</div>
